<html>
<body background="mario-1.jpg">
<h1>{{ansible_hostname}} is managed by Ansible</h1><br>
<h2>Welcome to host 	: {{ansible_fqdn}}</h2>
<h2>Host IP Address 	: {{ansible_all_ipv4_addresses}}</h2>
<h2>OS Family		: {{ansible_os_family}}</h2>
<h2>Document Root       : {{doc_tomcat}}</h2>
<h2>Brought to you by   : {{username}}</h2>
</body>
</html>
